@font-face {
  font-family: "airstrike";
  src: url("../airstrike.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: rgb(139, 187, 230);
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #000000c9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #051851, #396796);
  border-radius: 10px;
}

body {
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../bg-01.jpg);
  background-attachment: fixed !important;
  z-index: -10;
  background-size: cover;
  -webkit-animation: backgroundScroll 200s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 200s linear infinite;
  animation-fill-mode: forwards;
}

.ball {
  z-index: 30;
  position: fixed;
  border-radius: 10%;
  opacity: 0.4;
}

.swal2-success-circular-line-left {
  background-color: #041544 !important;
}
.swal2-modal {
  background-color: #041544 !important;
  box-shadow: 0px 0px 10px #81c2f7 !important;
}
.swal2-content,
.swal2-title {
  color: #fff !important;
}
.swal2-confirm {
  background-color: #fff !important;
}

@keyframes backgroundScroll {
  from {
    background-position: 4000px 0;
  }
  to {
    background-position: -4000 0px;
  }
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -380px 0px;
  }
}

/* ----------------SIDE-BAR---------------- */

.side-menu {
  text-align: center;
  padding-top: 3vh;
  position: fixed;
  background: rgb(0, 0, 0);
  width: 23vw;
  height: 130vh !important;
  z-index: 10;
}

.logo {
  align-self: center;
  align-content: center;
}

.logo a img {
  height: 8vw;
  width: auto;
}

/* -----------Profile---------- */

.profile {
  margin: 3vh auto;
}

div.avatar {
  text-align: center;
}

.side-menu .avatar img {
  text-align: center;
  height: 22vh;
  width: auto;
  border-radius: 50%;
  border: 0.15vw solid #fff;
  box-shadow: 0 0 0 4px #fff;
}

h2.username {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.5vw;
}

/* ---------side-nav-------- */

.side-menu ul.left-nav {
  text-align: left;
  margin: 5vh 3vw;
}

.side-menu li a {
  line-height: 6vh;
  transition: 0.5s;
}

.side-menu span {
  font-size: 1em;
  margin-left: 10px;
  color: rgb(140, 140, 140);
}
.side-menu i {
  font-size: 1em;
  margin-left: 20px;
  color: rgb(140, 140, 140);
}

/* ----------hover navlink--------- */

.side-menu li a:hover {
  padding-left: 20px;
  color: white !important;
}

.left-nav li a span:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: underline;
  cursor: pointer;
}

.side-menu li a i:hover {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

/* ----------dashboard---------- */

.col-md-12 {
  max-width: 80vw;
  margin: 2.5vh 5vw 3vh 25vw;
}

div.dashboard h1 {
  font-family: "airstrike";
  font-weight: bold;
  letter-spacing: 0.2vw;
  font-size: 5vw;
  margin: 1vh auto;
  color: white !important;
  text-align: center;
}

.code-trade {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.code-trade .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.code-trade .code {
  display: inline-block;
  line-height: 1em;
}

span .code:hover {
  color: #fff !important;
}

/* -----heading------ */

/* ------intro----- */

div .jumbotron {
  background-color: transparent;
  border: 2px solid rgb(154, 154, 154);
  padding: 2vh 3vw;
  margin: 3vh auto;
  width: 65vw;
  color: white;
}

/* --------------MEDIA QUERY------------- */

@media (min-width: 1550px) {
  .container {
    max-width: 1245px !important;
  }

  .side-menu span {
    font-size: 1.2em;
    margin-left: 10px;
  }

  .side-menu i {
    font-size: 1.2em;
    margin-left: 20px;
  }
}

@media (max-width: 1080px) {
  .side-menu span {
    font-size: 0.7em;
    margin-left: 10px;
  }

  .side-menu i {
    font-size: 0.7em;
    margin-left: 20px;
  }

  .side-menu .avatar img {
    height: 12vh;
    width: auto;
    border: 0.15vw solid #fff;
    box-shadow: 0 0 0 4px #fff;
  }

  .card-front i.tile-icon {
    margin: 0 auto 1.5vh auto;
    text-align: center;
  }

  .card-front h3 {
    font-size: 1.3vw;
    font-weight: normal;
  }
}

@media (max-width: 850px) {
  .side-menu a span {
    display: none;
  }

  .side-menu .profile {
    display: none;
  }

  .side-menu {
    width: 13vw;
  }

  .side-menu a i {
    display: block;
    line-height: 10vh;
    margin-left: 0;
    font-size: 4vh;
  }

  .col-md-12,
  .col-sm-12 {
    margin: 5vh 0 0 17vw;
    padding: 0;
    width: 120vw;
  }

  .logo a img {
    margin-left: 1vw;
    height: 2.5vw;
    width: auto;
  }

  .dashboard span {
    font-size: 6vh;
    margin-bottom: 3vh;
  }

  .jumbotron {
    align-content: center !important;
    font-size: 2vh;
  }

  .card-front i.tile-icon {
    font-size: 6vh;
  }

  .card-front h3 {
    font-size: 1.8vw;
    font-weight: normal;
  }

  .container {
    align-content: center;
    padding: 0 !important;
    margin-left: 1vw !important;
  }

  .card-back p.title,
  .card-back p.desc,
  .card-back p.link {
    font-size: 1vh;
  }
}

@media (max-width: 620px) {
  .side-menu {
    width: 12vw;
  }

  .side-menu a i {
    align-content: center !important;
    line-height: 10vh;
    margin-left: 0;
    font-size: 4vh;
  }

  .col-12 {
    margin: 5vh 0 0 17vw;
    padding: 0;
    width: 120vw;
  }

  .logo a img {
    margin-left: 1vw;
    height: 3vw;
    width: auto;
  }

  .container {
    align-content: center;
    padding: 0 !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }

  .dashboard span {
    font-size: 4vh;
    margin-bottom: 3vh;
  }

  .dashboard {
    margin-left: 3vw;
  }

  .jumbotron {
    font-size: 2vh;
  }

  .card-front i.tile-icon {
    font-size: 6vh;
  }

  .card-front h3 {
    font-size: 2vw;
    font-weight: normal;
  }
}

@media (max-width: 450px) {
  .dashboard {
    text-align: center !important;
    align-content: center !important;
  }
  .side-menu a i {
    display: block;
    line-height: 8vh;
    text-align: center;
    margin-left: 0;
    font-size: 6vw;
  }

  .card-front i.tile-icon {
    font-size: 4vh;
  }

  .container {
    margin-left: 0.2vw !important;
    margin-right: 1vw !important;
  }

  .card-front,
  .card-back {
    width: 20vw;
    height: 15vh;
    margin: 0;
    padding: 4vh 0 0 0 !important;
  }
}
